* {
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

p {
  font-size: 1.5rem;
}

.row-section {
  height: 100vh;
}

.column-section {
  height: 100%;
}

.img-block {
  background: url("bg.jpg") center center/cover no-repeat;
}

.form-block {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  padding: 2rem;
  padding-top: 5rem;
}

.form-block__inputs {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.form-block__inputs-input {
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #f2f2f2;
}

.form-block__inputs-button {
  text-align: start;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  color: #cac8c3;
  cursor: pointer;
}

.form-block__title {
  font-size: 2rem;
  font-weight: bold;
}

.form-check label,
.form-check input {
  cursor: pointer;
}

.radio-block {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 2rem;
  column-gap: 1rem;
}

.form-block__label {
  font-weight: bold;
}

.radio-block input[type="radio"] {
  width: 15px;
  height: 15px;
  border-radius: 10%;
  background-image: none;
  border: black 1px solid;
}

.radio-block input[type="radio"]:checked {
  background-color: #fcba1a;
  box-shadow: none;
}

.slider-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 1rem;
}

.slider-container {
  position: relative;
  width: 100%;
}

#bubble {
  position: absolute;
  bottom: 100%;
  white-space: nowrap;
  transform: translateX(-50%);
}

input[type="range"]::-webkit-slider-thumb,
input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  appearance: none;
}

input[type="range"]::-webkit-slider-thumb,
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #fcba1a;
  height: 1rem;
  width: 1rem;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: gray;
  border-radius: 0.5rem;
  height: 0.15rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
  outline: 3px solid #fcba1a;
  outline-offset: 0.125rem;
}

input[type="range"]::-moz-range-track {
  background-color: gray;
  border-radius: 0.5rem;
  height: 0.15rem;
}

input[type="range"]::-moz-range-thumb {
  border: none;
  border-radius: 50%;
  background-color: #fcba1a;
  height: 1rem;
  width: 1rem;
}

input[type="range"]:focus::-moz-range-thumb {
  outline: 3px solid #fcba1a;
  outline-offset: 0.125rem;
}

.consultation-block {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #212121;
}

.labels__text {
  font-size: 1.5rem;
  color: #b6b6b6;
}

.labels__value {
  font-size: 2.2rem;
  color: #fcba1a;
}

.consultation {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #fcba1a;
  padding: 1rem;
  width: 100%;
  flex-direction: row;
  border-radius: 3rem;
}

.consultation-button {
  width: 100%;
}

.consultation-button__text {
  font-size: 1.2rem;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  height: 66%;
  justify-content: space-evenly;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  width: 100%;
}

.consultation-section {
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 1rem;
}

@media screen and (max-width: 768px) {
  .column-section {
    height: auto;
  }

  .form-block {
    padding: 1rem;
    justify-content: flex-start;
  }

  .consultation-block {
    padding: 1rem;
    flex-direction: row;
    row-gap: 1rem;
    align-items: center;
  }

  .button-wrapper,
  .text-wrapper {
    width: 50%;
  }

  .consultation {
    border-radius: 50%;
    background-color: #fcba1a;
    width: 10rem;
    height: 10rem;
  }

  .text-wrapper {
    justify-content: center;
  }
}

@media screen and (max-width: 1024px) {
  .radio-block {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
  }
}